.add-product-form {
    padding: 20px;
}

.left-column, .right-column {
    margin-bottom: 20px;
}

.form-field {
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px; 
}

.form-field label {
    min-width: 150px;
    margin-bottom: 10px; 
}

.add-product-form input[type="text"],
.add-product-form select {
    flex-grow: 1;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #fa7d6a; 
    margin-bottom: 10px; 
}

/* Campo de descrição mais alto */
.add-product-form input[type="text"][value=description] {
    height: 100px;
}

.add-product-form button[type="submit"],
.location-section button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fa7d6a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.location-section {
    margin-top: 20px;
}

.location-section label {
    display: block;
    margin-bottom: 5px; 
}

.location-section button {
    margin-left: 10px;
    padding: 5px 10px; 
    background-color: #fa7d6a; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
    font-size: 0.9em; 
}
 label {
    margin: 5px 20px 0px 0px;
    padding-right: 3px;
 }

 input {
    margin: 3px;
 }