.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.search-button-custom {
  background-color: #fa7d6a;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.3s;
}

.search-button-custom:hover {
  background-color: #f56c4e;
}

.dropdown-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.dropdown-custom {
  flex: 1;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  transition: border-color 0.3s;
  max-width: 200px;
}

.dropdown-custom:focus {
  outline: none;
  border-color: #FFB6C1;
}

.dropdown-custom option {
  padding: 10px;
}

.item-card-custom {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 400px;
  min-width: 250px;
  margin: 10px;
  background-color: #F0F0F0;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.item-card-custom:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.item-list-custom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: flex-start; /* Alinha os itens ao topo verticalmente */
  max-width: 1000px;
}

.google-maps-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.orange-button-custom {
  background-color: orange;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.orange-button-custom:hover {
  background-color: #ff8800;
}

.submit-button-custom {
  background-color: #fa7d6a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  margin: 10px 2px;
  display: inline-block;
  transition-duration: 0.4s;
}

.submit-button-custom:hover {
  background-color: #f56c4e;
}
