.item-details-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #edecec; /* Fundo acinzentado */
  padding: 1em;
  z-index: 1000;
  height: 800px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px; /* Bordas arredondadas */
  width: 70%; /* largura padrão de 70% da janela da tela */
  max-width: 600px; /* largura máxima de 600px */
}

.item-details-container img {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.item-details-container h2 {
  margin-bottom: 1em;
  color: orange /* Alaranjado dos botões */
}

/* Estilo dos botões */
.item-details-container button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  margin: 10px 2px;
  display: inline-block;
  transition-duration: 0.4s;
}

.item-details-container button:hover {
  background-color: white;
  color: #FF8C00;
}
