.online-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: -150px;
}

.search-btn {
  background-color: #fa7d6a;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.propose-btn {
  background-color: orange;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  align-self: flex-end;
}

.input-container,
.category-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.online-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 400px;
  min-width: 250px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid #ccc;
  word-wrap: break-word;
  box-sizing: border-box;
}

.online-card h3 {
  font-size: 18px;
}

.online-card p.description {
  max-height: 3em;
  overflow: auto;
  margin-bottom: 10px;
}

.see-more-btn {
  background-color: transparent;
  border: none;
  color: #fa7d6a;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-input {
  width: 200px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border: none;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.dropdown-input:focus {
  outline: none;
  border-color: #ffb6c1;
}

.dropdown-input option {
  padding: 10px;
}

.online-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.card-content {
  flex: 1;
}

.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}