.user-items-container {
  max-width: 1200px;
  margin: -50px auto 0;
  padding: 20px;
  display: flex; /* Configura este container para usar flexbox */
  justify-content: space-between; /* Distribui o espaço entre as duas listas */
}

.user-items-list {
  width: 48%; /* Permite que cada lista ocupe aproximadamente metade da largura total, considerando uma pequena margem entre elas */
  margin-bottom: 40px;
}

.user-items-title {
  color: #fa7d6a;
  text-align: center;
  margin-bottom: 20px;
}

.user-item {
  font-weight: bold;
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 5px;
}

.user-item button {
  background-color: #fa7d6a; /* cor de fundo alaranjada */
  color: white; /* cor do texto branca */
  border: none; /* remove o contorno do botão */
  padding: 10px 20px; /* adiciona um pouco de preenchimento ao redor do texto do botão */
  margin-left: 10px; /* adiciona uma pequena margem à esquerda do botão para separá-lo do texto do item */
  cursor: pointer; /* muda o cursor para um ponteiro quando passa sobre o botão */
  border-radius: 14px;
}

.user-item button:hover {
  background-color: #fa7d6a; /* muda a cor de fundo para um laranja mais claro quando o botão é passado */
}
