.about-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin-top: -20px;
}

.about-image {
  max-width: 100%; /* Torna a imagem responsiva */
  height: auto;
}
