.home-container {
    background-color: #ffffff;  /* Alterado para branco */
    min-height: 100vh;
    color: #fa7d6a;
    padding-top: 180px; 
    padding-left: 15%;
    padding-right: 15%;
}

.home-container h1 {
    text-align: center;
    padding: 40px 0;
}

.home-container .row {
    margin-top: 20px;
}

.home-container .form-control,
.home-container .btn {
    width: 300px;
}

.home-container .btn {
    background-color: #fa7d6a;
    border: none;
}

.home-container ol {
    padding-left: 80px; 
}

.logo {
    width: 300px;
    height: auto;
    margin-top: 150px;
}
