.home-container {
    background-color: #ffffff;
    min-height: 100vh;
    color: #fa7d6a;
   
    padding-left: 5%; /* Reduzi um pouco o padding para dar mais espaço para o conteúdo em telas menores */
    padding-right: 5%;
}

.homehowto {
    width: 70%; /* Aumentado para 70% para ser maior em comparação com o resto do conteúdo */
    height: auto;
    display: block;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 1.5em;
    color: #fa7d6a; /* Um tom alaranjado */
}

.carousel-container {
    max-width: 80%;
    margin: 0 auto;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9; 
    color: #f57d5a;
    height: 300px; 
    width: 200px; 
}

.service-image {
    width: 70%;
    height: 100px; /* Altura fixa para a imagem */
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover; /* Garante que a imagem preencha o espaço, mas mantenha a proporção */
}

.service-title {
    margin: 10px 0;
    height: 40px; 
    overflow: hidden; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.service-description {
    max-height: 70px;
    overflow-y: auto;
    padding: 0 10px;
    text-align: center; 
}

.service-price {
    align-self: flex-end;
    height: 30px;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    font-weight: bold; /* Torna o texto em negrito */
    margin-right: 10px; /* Dá um pequeno espaço à direita para não tocar na borda do card */
}

.drag-instruction {
    text-align: center;
    font-size: 1em;
    margin: 10px 0;
    color: #f57d5a; /* A mesma cor dos outros textos */
}


/* Código anterior não modificado abaixo */

.home-container h1 {
    text-align: center;
    padding: 40px 0;
}

.home-container .row {
    margin-top: 20px;
}

.home-container .form-control,
.home-container .btn {
    width: 300px;
}

.home-container .btn {
    background-color: #fa7d6a;
    border: none;
}

.home-container ol {
    padding-left: 80px;
}

.logo {
    width: 300px;
    height: auto;
    margin-top: 150px;
}
