
.profile-container {
  display: flex;
  height: calc(100vh - 56px); 
  margin-top: 56px; 
}

.sidebar, .content-area {
  overflow-y: auto; 
}

.avatar-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar {
  width:25%;
  background-color: #e2e2e2;
  color: #FF5722;
  padding: 20px;
}

.content-area {
  width: 75%;
  background-color: #e9ecef;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Estilo para a foto de perfil no componente Profile */
.avatar-container {
  width: 120px; /* Aumentar o tamanho */
  height: 120px; /* Aumentar o tamanho */
  border-radius: 50%;
  background-color: #6c757d;
  margin: 0 auto 20px; /* Centralizar horizontalmente e adicionar margem inferior */
  display: flex;
  justify-content: center; /* Centralizar o conteúdo horizontalmente */
  border: 2px solid #FF5722;
  background-size: cover; /* Adicionar esta linha para ajustar o tamanho da imagem */
  background-position: center; /* Adicionar esta linha para centralizar a imagem */
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #FF5722;
  border-radius: 20px;
  padding: 10px;
  transition: background-color 0.3s;
}

.sidebar-menu li.selected {
  background-color: #FF5722; /* Defina a cor de destaque para o item selecionado */
  color: white; /* Altere a cor do texto para contrastar com o fundo */
}

.initial-message-container {
  text-align: center;
}

.initial-message-container h2 {
  color: #6c757d;
}

.no-profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #6c757d;
  margin: 0 auto 20px;
  border: 2px solid #FF5722;
}

.no-profile-pic svg {
  color: #FF5722;
}


.arrow-right {
  margin: 50px auto;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 60px solid #6c757d;
  animation: arrow-slide 2s ease-in-out infinite;
}

@keyframes arrow-slide {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(-20px);
  }
}


.sidebar, .content-area {
  overflow-y: auto; 
}

body {
  margin-top: 60px !important;
}