/* Profile.css */
.profile-container {
  display: flex;
}

.sidebar {
  width:25%;
  background-color: #505050;
  color: #FF5722;
  padding: 20px;
}

.content-area {
  width: 75%;
  background-color: #e9ecef;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.avatar-container {
  width: 120px; /* Aumentar o tamanho */
  height: 120px; /* Aumentar o tamanho */
  border-radius: 50%;
  background-color: #6c757d;
  margin: 0 auto 20px; /* Centralizar horizontalmente e adicionar margem inferior */
  display: flex;
  justify-content: center; /* Centralizar o conteúdo horizontalmente */
  border: 2px solid #FF5722;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #FF5722;
  border-radius: 20px;
  padding: 10px;
}

.initial-message-container {
  text-align: center;
}

.initial-message-container h2 {
  color: #6c757d;
}

.arrow-right {
  margin: 50px auto;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 60px solid #6c757d;
  animation: arrow-slide 2s ease-in-out infinite;
}

@keyframes arrow-slide {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(-20px);
  }
}


.profile-container {
  display: flex;
  height: calc(100vh - 56px); 
  margin-top: 56px; 
}

.sidebar, .content-area {
  overflow-y: auto; 
}